.event-card {
    transition: transform 0.2s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px; /* Добавляем отступ снизу для вертикального расположения */
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card h3 {
    color: #007bff;
    cursor: pointer;
}

.event-card h3:hover {
    text-decoration: underline;
}

.event-list {
    display: flex;
    flex-direction: column; /* Изменяем направление на столбец */
}

.event-card {
    width: 100%; /* Устанавливаем ширину 100%, чтобы карточки занимали всю доступную ширину */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .event-card {
        width: 100%;
    }
}